<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Web Server</title>
</head>
<body style="height: 100vh; margin: 0">
<div style="height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-content: center; flex-direction: column">
    <h1 style="text-align: center">4 0 4</h1>
    <p>Sorry, I don't know what you're asking for.</p>
</div>
</body>
</html>